*{
  margin: 0;
  padding: 0;
  color:white
}
.chipBG{
  height:6vh;
  width:12vw;
  background-color: #272743;
  border-radius: 30px;
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}
.chipBG button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width:5vw;
  border: 0px;
  background-color: #272743;
  border-radius: 30px;
  transition: 0.5s;
}
.chipBG button:focus{
  transition: 0.5s;
  background-color: #535472;
}
.chipBG button:hover{
  transition: 0.5s;
  background-color: #535472;
}